interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_in_trunks/2b4b1fcf-fe6a-4de9-8a58-7df46820ba13
  response:
    body:
      string: '{"data":{"id":"2b4b1fcf-fe6a-4de9-8a58-7df46820ba13","type":"voice_in_trunks","attributes":{"name":"sample trunk pstn","priority":1,"weight":65535,"capacity_limit":50,"cli_format":"e164","cli_prefix":"","description":null,"ringing_timeout":30,"created_at":"2017-06-25T08:21:41.795Z","external_reference_id":"crm-vit-0001","configuration":{"type":"pstn_configurations","attributes":{"dst":"558540420024"}}}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
