interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/available_dids/0e1c548e-c6b5-43b0-9c12-2e300178e820
  response:
    body:
      string: '{"data":{"id":"0e1c548e-c6b5-43b0-9c12-2e300178e820","type":"available_dids","attributes":{"number":"12012213879"},"relationships":{"did_group":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/0e1c548e-c6b5-43b0-9c12-2e300178e820/relationships/did_group","related":"https://sandbox-api.didww.com/v3/available_dids/0e1c548e-c6b5-43b0-9c12-2e300178e820/did_group"}},"nanpa_prefix":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/0e1c548e-c6b5-43b0-9c12-2e300178e820/relationships/nanpa_prefix","related":"https://sandbox-api.didww.com/v3/available_dids/0e1c548e-c6b5-43b0-9c12-2e300178e820/nanpa_prefix"},"data":{"type":"nanpa_prefixes","id":"1e622e21-c740-4d3f-a615-2a7ef4991922"}}}},"included":[{"id":"1e622e21-c740-4d3f-a615-2a7ef4991922","type":"nanpa_prefixes","attributes":{"npa":"201","nxx":"221"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/relationships/country","related":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/country"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/relationships/region","related":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/region"}}}}],"meta":{"api_version":"2022-05-10"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
