interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1
  response:
    body:
      string: '{"data":{"id":"2187c36d-28fb-436f-8861-5a0f5b5a3ee1","type":"did_groups","attributes":{"prefix":"241","local_prefix":"","features":["voice_in"],"is_metered":false,"area_name":"Aachen","allow_additional_channels":true},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/country","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/country"},"data":{"type":"countries","id":"dfd1a0a0-bd53-4f7a-9c8e-d2fc5dd1bf7e"}},"city":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/city","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/city"},"data":null},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/did_group_type"},"data":null},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/region","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/region"},"data":null},"stock_keeping_units":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/stock_keeping_units","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/stock_keeping_units"},"data":[]},"address_requirement":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/requirement","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/requirement"},"data":{"type":"address_requirements","id":"8da1e0b2-047c-4baf-9c57-57143f09b9ce"}}}},"included":[{"id":"dfd1a0a0-bd53-4f7a-9c8e-d2fc5dd1bf7e","type":"countries","attributes":{"name":"Germany","prefix":"49","iso":"DE"}},{"id":"8da1e0b2-047c-4baf-9c57-57143f09b9ce","type":"address_requirements","attributes":{"identity_type":"any","personal_area_level":"world_wide","business_area_level":"world_wide","address_area_level":"world_wide","personal_proof_qty":0,"business_proof_qty":0,"address_proof_qty":0,"personal_mandatory_fields":[],"business_mandatory_fields":[],"service_description_required":false,"restriction_message":null}}],"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
