interactions:
- request:
    body: '{"data":{"type":"permanent_supporting_documents","attributes":{},"relationships":{"identity":{"data":{"type":"identities","id":"5e9df058-50d2-4e34-b0d4-d1746b86f41a"}},"template":{"data":{"type":"supporting_document_templates","id":"4199435f-646e-4e9d-a143-8f3b972b10c5"}},"files":{"data":[{"type":"encrypted_files","id":"254b3c2d-c40c-4ff7-93b1-a677aee7fa10"}]}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/permanent_supporting_documents
  response:
    body:
      string: '{"data":{"id":"19510da3-c07e-4fa9-a696-6b9ab89cc172","type":"permanent_supporting_documents","attributes":{"created_at":"2021-04-01T15:01:59.756Z"},"relationships":{"template":{"links":{"self":"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/relationships/template","related":"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/template"},"data":{"type":"supporting_document_templates","id":"4199435f-646e-4e9d-a143-8f3b972b10c5"}},"identity":{"links":{"self":"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/relationships/identity","related":"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/identity"}}}},"included":[{"id":"4199435f-646e-4e9d-a143-8f3b972b10c5","type":"supporting_document_templates","attributes":{"name":"Germany Special Registration Form","permanent":true,"url":"https://sandbox-api.didww.com/storage/public/4rghqnqtba0fa7mbdgig086xej1e"}}],"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
