interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172
  response:
    body:
      string: '{"data":{"id":"19510da3-c07e-4fa9-a696-6b9ab89cc172","type":"permanent_supporting_documents","attributes":{"created_at":"2023-05-10T14:30:00.000Z","external_reference_id":"crm-psd-0001"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
