interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: DELETE
    uri: https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4
  response:
    body:
      string: '{"errors":[{"title":"Record not found","detail":"The record identified by fd38d3ff-80cf-4e67-a605-609a2884a5c4 could not be found.","code":"404","status":"404"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
