interactions:
- request:
    body: '{"data":{"type":"shared_capacity_groups","attributes":{"name":"python-sdk","shared_channels_count":5,"metered_channels_count":0},"relationships":{"capacity_pool":{"data":{"type":"capacity_pools","id":"f288d07c-e2fc-4ae6-9837-b18fb469c324"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/shared_capacity_groups
  response:
    body:
      string: '{"errors":[{"title":"can''t be blank","detail":"capacity_pool - can''t be blank","code":"100","source":{"pointer":"/data/relationships/capacity_pool"},"status":"422"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
