interactions:
- request:
    body: '{"data":{"type":"emergency_verifications","id":"ev-001","attributes":{"external_reference_id":"updated-ev-ref-77"}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/emergency_verifications/ev-001
  response:
    body:
      string: '{"data":{"id":"ev-001","type":"emergency_verifications","attributes":{"reference":"EVR-001","status":"pending","reject_reasons":null,"reject_comment":null,"callback_url":null,"callback_method":null,"external_reference_id":"updated-ev-ref-77","created_at":"2026-04-10T10:00:00.000Z"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
