interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001?include=emergency_requirement%2Cemergency_verification
  response:
    body:
      string: '{"data":{"id":"ecs-001","type":"emergency_calling_services","attributes":{"name":"US Emergency","reference":"ECS-123","status":"active","activated_at":"2026-04-01T00:00:00.000Z","canceled_at":null,"created_at":"2026-03-15T10:00:00.000Z","renew_date":"2026-05-01T00:00:00.000Z"},"relationships":{"emergency_requirement":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/emergency_requirement","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/emergency_requirement"},"data":{"type":"emergency_requirements","id":"er-001"}},"emergency_verification":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/emergency_verification","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/emergency_verification"},"data":{"type":"emergency_verifications","id":"ev-001"}}}},"included":[{"id":"er-001","type":"emergency_requirements","attributes":{"identity_type":"any","personal_area_level":"worldwide","business_area_level":"worldwide","service_description_required":false}},{"id":"ev-001","type":"emergency_verifications","attributes":{"reference":"EVR-001","status":"approved","reject_reasons":null,"reject_comment":null,"callback_url":null,"callback_method":null,"external_reference_id":null,"created_at":"2026-04-10T10:00:00.000Z"}}],"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
