interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001?include=address
  response:
    body:
      string: '{"data":{"id":"ecs-001","type":"emergency_calling_services","attributes":{"name":"Berlin Office ECS","reference":"ECS-0042","status":"pending_update","activated_at":"2026-03-15T09:00:00.000Z","canceled_at":null,"created_at":"2026-03-14T11:00:00.000Z","renew_date":"2026-06-15T00:00:00.000Z"},"relationships":{"address":{"data":{"id":"addr-berlin","type":"addresses"}}}},"included":[{"id":"addr-berlin","type":"addresses","attributes":{"city_name":"Berlin","postal_code":"10115","address":"Alexanderplatz 1","description":"HQ","created_at":"2026-03-01T10:00:00.000Z","verified":true}}],"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
