interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - multipart/form-data
    method: POST
    uri: https://sandbox-api.didww.com/v3/encrypted_files
  response:
    body:
      string: '{"data":{"id":"f6a7b890-1234-5678-9abc-def123456789","type":"encrypted_files","attributes":{"description":"passport.pdf","expires_at":"2026-04-22T10:00:00.000Z"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
