interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_history/c3d4e5f6-a7b8-9012-cdef-345678901234
  response:
    body:
      string: '{"data":{"id":"c3d4e5f6-a7b8-9012-cdef-345678901234","type":"did_history","attributes":{"did_number":"12025551234","action":"billing_cycles_count_changed","method":"system","created_at":"2026-01-15T08:00:00.000Z"},"meta":{"from":"2","to":"1"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
