interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96
  response:
    body:
      string: '{"data":{"id":"b2319703-ce6c-480d-bb53-614e7abcfc96","type":"voice_in_trunk_groups","attributes":{"name":"Common Group","capacity_limit":69,"created_at":"2017-06-25T14:56:31.513Z","external_reference_id":"crm-vitg-0001"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
