interactions:
- request:
    body: '{"data":{"type":"address_verifications","id":"c8e004b0-87ec-4987-b4fb-ee89db099f0e","attributes":{"external_reference_id":"ext-ref-123"}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/address_verifications/c8e004b0-87ec-4987-b4fb-ee89db099f0e
  response:
    body:
      string: '{"data":{"id":"c8e004b0-87ec-4987-b4fb-ee89db099f0e","type":"address_verifications","attributes":{"service_description":null,"callback_url":null,"callback_method":null,"status":"Approved","reject_reasons":null,"reject_comment":null,"reference":"SHB-485120","external_reference_id":"ext-ref-123","created_at":"2020-09-15T06:38:12.650Z"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
