interactions:
- request:
    body: '{"data":{"type":"exports","id":"da15f006-5da4-45ca-b0df-735baeadf423","attributes":{"external_reference_id":"renamed-ref-99"}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/exports/da15f006-5da4-45ca-b0df-735baeadf423
  response:
    body:
      string: '{"data":{"id":"da15f006-5da4-45ca-b0df-735baeadf423","type":"exports","attributes":{"status":"Completed","created_at":"2019-01-02T10:23:00.897Z","url":"https://sandbox-api.didww.com/v3/exports/e5352384-6f64-4132-bba1-cda18fbc5896.csv.gz","callback_url":null,"callback_method":null,"export_type":"cdr_in","external_reference_id":"renamed-ref-99"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
