interactions:
- request:
    body: '{"data":{"type":"address_requirement_validations","attributes":{},"relationships":{"identity":{"data":{"type":"identities","id":"5e9df058-50d2-4e34-b0d4-d1746b86f41a"}},"address":{"data":{"type":"addresses","id":"d3414687-40f4-4346-a267-c2c65117d28c"}},"address_requirement":{"data":{"type":"address_requirements","id":"2efc3427-8ba6-4d50-875d-f2de4a068de8"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/address_requirement_validations
  response:
    body:
      string: '{"errors":[{"title":"Identity Place of Birth must be Belgium","detail":"Identity Place of Birth must be Belgium","code":"100","source":{"pointer":"/data"},"status":"422"},{"title":"Following Supporting Document(s) required (Belgium Registration Form)","detail":"Following Supporting Document(s) required (Belgium Registration Form)","code":"100","source":{"pointer":"/data"},"status":"422"},{"title":"Address in Belgium required","detail":"Address in Belgium required","code":"100","source":{"pointer":"/data"},"status":"422"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
