interactions:
- request:
    body: '{"data":{"type":"address_requirement_validations","attributes":{},"relationships":{"address_requirement":{"data":{"type":"address_requirements","id":"11111111-2222-3333-4444-555555555555"}},"address":{"data":{"type":"addresses","id":"66666666-7777-8888-9999-aaaaaaaaaaaa"}},"identity":{"data":{"type":"identities","id":"bbbbbbbb-cccc-dddd-eeee-ffffffffffff"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/address_requirement_validations
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 204
      message: No Content
version: 1
