interactions:
- request:
    body: '{"data":{"type":"address_requirement_validations","attributes":{},"relationships":{"identity":{"data":{"type":"identities","id":"5e9df058-50d2-4e34-b0d4-d1746b86f41a"}},"address":{"data":{"type":"addresses","id":"d3414687-40f4-4346-a267-c2c65117d28c"}},"address_requirement":{"data":{"type":"address_requirements","id":"2efc3427-8ba6-4d50-875d-f2de4a068de8"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/address_requirement_validations
  response:
    body:
      string: '{"data":{"id":"aea92b24-a044-4864-9740-89d3e15b65c7","type":"address_requirement_validations"},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
