interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/proofs/ed46925b-a830-482d-917d-015858cf7ab9
  response:
    body:
      string: '{"data":{"id":"ed46925b-a830-482d-917d-015858cf7ab9","type":"proofs","attributes":{"created_at":"2021-03-28T18:01:50.387Z","expires_at":"2025-12-31T00:00:00.000Z","external_reference_id":"crm-proof-0001"}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
