interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957
  response:
    body:
      string: '{"data":{"id":"fafaca6b-40e5-4a9c-9a30-f2fac3ee8957","type":"addresses","attributes":{"city_name":"Algiers","postal_code":"16000","address":"42
        Rue Didouche Mourad","description":"Main office address","created_at":"2026-02-25T15:16:20.304Z","verified":true},"relationships":{"identity":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/relationships/identity","related":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/identity"},"data":{"type":"identities","id":"17ebf057-db8d-4de0-b95c-52a2b940c7b8"}},"country":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/relationships/country","related":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/country"},"data":{"type":"countries","id":"e36a345a-0186-4eb4-85e6-840fed74f49f"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/relationships/proofs","related":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/proofs"},"data":[{"type":"proofs","id":"5cd00239-f9b5-4f08-9783-fb710eea9189"}]},"area":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/relationships/area","related":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/area"},"data":null},"city":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/relationships/city","related":"https://sandbox-api.didww.com/v3/addresses/fafaca6b-40e5-4a9c-9a30-f2fac3ee8957/city"},"data":null}}},"included":[{"id":"17ebf057-db8d-4de0-b95c-52a2b940c7b8","type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"213555123456","id_number":"BIZ-2026-001","birth_date":null,"company_name":"ACME
        Corp","company_reg_number":null,"vat_id":null,"description":"Business identity","personal_tax_id":null,"identity_type":"Business","created_at":"2026-02-25T15:16:19.079Z","external_reference_id":"ext-ref-001","verified":true,"contact_email":null},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/relationships/country","related":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/country"},"data":{"type":"countries","id":"e36a345a-0186-4eb4-85e6-840fed74f49f"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/relationships/proofs","related":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/proofs"},"data":[{"type":"proofs","id":"9f8e2f56-bb2a-4c2e-9330-5dc4c204fc27"}]},"addresses":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/relationships/addresses","related":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/addresses"},"data":[{"type":"addresses","id":"fafaca6b-40e5-4a9c-9a30-f2fac3ee8957"}]},"permanent_documents":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/relationships/permanent_documents","related":"https://sandbox-api.didww.com/v3/identities/17ebf057-db8d-4de0-b95c-52a2b940c7b8/permanent_documents"},"data":[]}}},{"id":"e36a345a-0186-4eb4-85e6-840fed74f49f","type":"countries","attributes":{"name":"Algeria","prefix":"213","iso":"DZ"},"relationships":{"regions":{"links":{"self":"https://sandbox-api.didww.com/v3/countries/e36a345a-0186-4eb4-85e6-840fed74f49f/relationships/regions","related":"https://sandbox-api.didww.com/v3/countries/e36a345a-0186-4eb4-85e6-840fed74f49f/regions"}}}},{"id":"9f8e2f56-bb2a-4c2e-9330-5dc4c204fc27","type":"proofs","attributes":{"created_at":"2026-02-27T13:48:54.800Z","expires_at":"2027-02-27T13:48:56.572Z"},"relationships":{"proof_type":{"links":{"self":"https://sandbox-api.didww.com/v3/proofs/9f8e2f56-bb2a-4c2e-9330-5dc4c204fc27/relationships/proof_type","related":"https://sandbox-api.didww.com/v3/proofs/9f8e2f56-bb2a-4c2e-9330-5dc4c204fc27/proof_type"}},"entity":{"links":{"self":"https://sandbox-api.didww.com/v3/proofs/9f8e2f56-bb2a-4c2e-9330-5dc4c204fc27/relationships/entity","related":"https://sandbox-api.didww.com/v3/proofs/9f8e2f56-bb2a-4c2e-9330-5dc4c204fc27/entity"}}}},{"id":"5cd00239-f9b5-4f08-9783-fb710eea9189","type":"proofs","attributes":{"created_at":"2026-02-27T13:48:53.911Z","expires_at":"2027-02-27T13:48:56.653Z"},"relationships":{"proof_type":{"links":{"self":"https://sandbox-api.didww.com/v3/proofs/5cd00239-f9b5-4f08-9783-fb710eea9189/relationships/proof_type","related":"https://sandbox-api.didww.com/v3/proofs/5cd00239-f9b5-4f08-9783-fb710eea9189/proof_type"}},"entity":{"links":{"self":"https://sandbox-api.didww.com/v3/proofs/5cd00239-f9b5-4f08-9783-fb710eea9189/relationships/entity","related":"https://sandbox-api.didww.com/v3/proofs/5cd00239-f9b5-4f08-9783-fb710eea9189/entity"}}}}],"meta":{"api_version":"2022-05-10"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
