interactions:
- request:
    body: '{"data":{"id":"01234567-89ab-cdef-0123-456789abcdef","type":"voice_out_trunks","attributes":{"emergency_enable_all":true}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks/01234567-89ab-cdef-0123-456789abcdef
  response:
    body:
      string: '{"data":{"id":"01234567-89ab-cdef-0123-456789abcdef","type":"voice_out_trunks","attributes":{"name":"Trunk with emergency","on_cli_mismatch_action":"replace_cli","capacity_limit":200,"created_at":"2026-01-15T10:00:00.000Z","allow_any_did_as_cli":false,"status":"active","threshold_reached":false,"threshold_amount":"100.0","default_dst_action":"allow_all","dst_prefixes":["1"],"media_encryption_mode":"disabled","callback_url":null,"force_symmetric_rtp":false,"allowed_rtp_ips":[],"emergency_enable_all":true,"rtp_timeout":30,"authentication_method":{"type":"credentials_and_ip","attributes":{"allowed_sip_ips":["203.0.113.1/32"],"tech_prefix":"","username":"user1","password":"pass1"}}},"relationships":{"default_did":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_out_trunks/01234567-89ab-cdef-0123-456789abcdef/relationships/default_did","related":"https://sandbox-api.didww.com/v3/voice_out_trunks/01234567-89ab-cdef-0123-456789abcdef/default_did"}}}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
