interactions:
- request:
    body: '{"data":{"type":"emergency_requirement_validations","attributes":{},"relationships":{"emergency_requirement":{"data":{"type":"emergency_requirements","id":"er-001"}},"address":{"data":{"type":"addresses","id":"addr-001"}},"identity":{"data":{"type":"identities","id":"id-001"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/emergency_requirement_validations
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 204
      message: No Content
version: 1
