interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a
  response:
    body:
      string: "{\"data\":{\"id\":\"5e9df058-50d2-4e34-b0d4-d1746b86f41a\",\"type\":\"identities\",\"attributes\":{\"first_name\":\"John\",\"last_name\":\"Doe\",\"phone_number\":\"123456789\",\"id_number\":\"ABC1234\",\"birth_date\":\"1970-01-01\",\"company_name\":null,\"company_reg_number\":null,\"vat_id\":null,\"description\":\"test identity\",\"personal_tax_id\":\"987654321\",\"identity_type\":\"personal\",\"created_at\":\"2021-04-01T12:57:24.025Z\",\"external_reference_id\":\"111\",\"verified\":false},\"relationships\":{\"country\":{\"data\":{\"type\":\"countries\",\"id\":\"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9\"}},\"birth_country\":{\"data\":{\"type\":\"countries\",\"id\":\"a2b3c4d5-e6f7-8901-abcd-ef1234567890\"}},\"proofs\":{\"data\":[]},\"addresses\":{\"data\":[]},\"permanent_documents\":{\"data\":[]}}},\"included\":[{\"id\":\"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9\",\"type\":\"countries\",\"attributes\":{\"name\":\"United States\",\"prefix\":\"1\",\"iso\":\"US\"}},{\"id\":\"a2b3c4d5-e6f7-8901-abcd-ef1234567890\",\"type\":\"countries\",\"attributes\":{\"name\":\"Canada\",\"prefix\":\"1\",\"iso\":\"CA\"}}],\"meta\":{\"api_version\":\"2026-04-16\"}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
