interactions:
- request:
    body: '{"data":{"type":"dids","id":"unknown-id","attributes":{},"relationships":{"voice_in_trunk_group":{"data":{"type":"voice_in_trunk_groups","id":"invalid"}},"voice_in_trunk":{"data":null}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/dids/unknown-id
  response:
    body:
      string: '{"errors":[{"title":"is invalid","detail":"voice_in_trunk_group - is invalid","code":"100","source":{"pointer":"/data/attributes/voice_in_trunk_group_id"},"status":"422"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
