interactions:
- request:
    body: '{"data":{"type":"dids","id":"unknown-id","attributes":{"capacity_pools_id":"f288d07c-e2fc-4ae6-9837-b18fb469c324"},"relationships":{"capacity_pool":{"data":{"type":"capacity_pools","id":"f288d07c-e2fc-4ae6-9837-b18fb469c324"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/dids/unknown-id
  response:
    body:
      string: "{\n  \"errors\": [\n    {\n      \"title\": \"Param not allowed\",\n\
        \      \"detail\": \"capacity_pools_id is not allowed.\",\n      \"code\"\
        : \"105\",\n      \"status\": \"400\"\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
