interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/emergency_requirements/er-001
  response:
    body:
      string: '{"data":{"id":"er-001","type":"emergency_requirements","attributes":{"identity_type":"Personal","address_area_level":"City","personal_area_level":"Country","business_area_level":"Country","address_mandatory_fields":["city_name","address"],"personal_mandatory_fields":["first_name","last_name"],"business_mandatory_fields":["company_name"],"estimate_setup_time":5,"requirement_restriction_message":null}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
